.bigBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  min-width: 100vw;

} 
    .logo {
      margin-top: 50px;
      height: 200px;
      background-color: rgba(0,100,102, 0.85);
      border: solid black 2px;
      min-width: 100vw;
    }

    .infoBox {
      margin: 50px;
      padding: 10px;
      background-color: rgba(169,180,194, 0.75);
      border: solid black 2px;
      border-radius: 5px;
      max-width: 50vw;
    }

    .announcementBox {
      margin-bottom: 400px;
    }
    
    .announcement {
      list-style: none;
      margin: 10px;
      padding: 10px;
      background-color: rgba(169,180,194, 0.75);
      border: solid black 2px;
      border-radius: 5px;
      max-width: 75vw;

      h1 {
        font-size: 50px;
      }
    }
