.bigBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  min-width: 100vw;

} 

    .logo {
      animation: fadeIn ease 7s;
      margin-top: 50px;
      height: 200px;
      background-color: rgba(0,100,102, 0.85);
      border: solid black 2px;
      min-width: 100vw;

      @media screen and (max-width: 780px) {
        height: 125px;
      }
     
    }
    

    .infoBox {
      animation: fadeIn ease 10s;
      margin: 50px;
      padding: 15px;
      background-color: rgba(169,180,194, 0.75);
      border: solid black 2px;
      border-radius: 5px;
      max-width: 50vw;
      
      .headline {
        font-family: 'Goldman', cursive;
        color: rgb(0,100,102);
        text-shadow: 1px 1px black;
      }

      h3 {
        font-family: 'roboto';
      }
    }

    .announcementBox {
      margin-bottom: 400px;
    }
    
    .announcement {
      animation: fadeIn ease 10s;
      list-style: none;
      margin: 10px;
      padding: 10px;
      background-color: rgba(169,180,194, 0.75);
      border: solid black 2px;
      border-radius: 5px;
      max-width: 75vw;

      h2 {
        font-family: 'Goldman', cursive;
        color: rgb(0,100,102);
        text-shadow: 1px 1px black;
        
      }

      p {
        font-family: 'roboto';
      }
    }

  @keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
  }
