* {
  box-sizing: border-box;
}

:root {
  --medium-green: rgb(0, 100, 102);
  --medium-green-alpha: rgba(0, 100, 102, 0.85);
  --light-green: rgb(2, 147, 150);
  --white: rgb(238, 241, 239);
  --white-alpha-b: rgba(238, 241, 239, 0.90);
  --dark-slate: #2C4340;
  --matte-black: #23232b;
  --redwood: #B23A48;
  --zomp: #36947F;
}

.bigBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
  min-width: 100vw;

} 

    .logo {
      animation: fadeIn ease 7s;
      margin-top: 50px;
      height: 32vh;
      background-color: var(--medium-green-alpha);
      border: solid var(--light-green) 2px;
      min-width: 100vw;

      @media screen and (max-width: 780px) {
        height: 135px;
        border: solid black 1px;
  
      }

      @media screen and (max-width: 414px) {
        height: 80px;
      }
     
    }
    

    .infoBox {
      animation: fadeIn ease 10s;
      margin: 50px;
      padding: 15px;
      background-color: var(--white-alpha-b);
      border-radius: 5px;
      max-width: 50vw;
      z-index: 1;
      text-align: center;

      @media screen and (max-width: 414px) {
        max-width: 90vw;
      }
      
      .headline {
        font-family: 'Goldman', cursive;
        color: black;
        text-shadow: 1px 1px var(--light-green);
        
        @media screen and (max-width: 412px) {
          font-size: larger;
        }
      }

      h3 {
        font-family: 'roboto';
      }

      
    }

    .announcementBox {
      margin-bottom: 400px;
      z-index: 0;
    }
    
    .announcement {
      animation: fadeIn ease 10s;
      list-style: none;
      margin: 10px;
      padding: 10px;
      background-color: var(--white-alpha-b);
      border: solid black 2px;
      border-radius: 5px;
      min-width: 40vw;
      max-width: 75vw;

      h2 {
        font-family: 'Goldman', cursive;
        color: var(--medium-green);
        text-shadow: 1px 1px black;
        
      }

      p {
        font-family: 'roboto';
      }
    }

  @keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
  }


  .popUp {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .popUp .toggle {
    position: absolute;
    
    z-index: 2;
    width: 50px;
    height: 50px;
    opacity: 0;
    cursor: pointer;
  }
  
  
  
  .popUp .contactText {
    opacity: 1;
    position: absolute;
    
    z-index: 0;
    height: 50px;
    width: 50px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: var(--light-green) solid 1px;
    border-top: var(--light-green) solid 1px;
  }
  
  .popUp .contactText > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: var(--medium-green-alpha);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  
  .popUp .contactText > div:before,
  .popUp .contactText > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  
  .popUp .contactText > div:after {
    top: 10px;
  }
  
  .popUp .toggle:checked + .contactText > div {
    transform: rotate(135deg);
  }
  
  .popUp .toggle:checked + .contactText > div:before,
  .popUp .toggle:checked + .contactText > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  
  .popUp .toggle:checked:hover + .contactText > div {
    transform: rotate(225deg);
  }
  
  .popUp .toggle:checked ~ .form {
    visibility: visible;
  }
  
  .popUp .toggle:checked ~ .form > div {
    transform: scale(1);
    transition-duration: 0.75s;
  }
  
  .popUp .toggle:checked ~ .form > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;
  }
  
  .popUp .form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .popUp .form > div {
    background: var(--medium-green-alpha);
    border-radius: 20%;
    width: 70vw;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  
  .popUp .form > div > div  {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
  
  .popUp .form > div > div  {
    color: var(--brown);
  }
