.aboutBox {
  margin-top: 30vh;
  margin-bottom: 30vh;
  background-color: var(--brown);
  color: var(--white);
  padding: 2vh 3vw 2vh 3vw;
  border-top: solid var(--white) 5px;
  border-bottom: solid var(--white) 5px;
  scroll-snap-align: center;
  p {
    margin: 25px;
    font-family: 'roboto';
    font-size: 1.25em;
  }

  @media screen and (max-width: 780px) {
    padding: 5vh 8vw 5vh 8vw;
  }
}
