* {
  box-sizing: border-box;
}

:root {
  --medium-green: rgb(0, 100, 102);
  --medium-green-alpha: rgba(0, 100, 102, 0.85);
  --white: rgb(238, 241, 239);
  --white-alpha: rgba(238, 241, 239, 0.70);
  --dark-green: rgb(2, 60, 61);
  --light-green: rgb(2, 147, 150);
  --light-green-alpha: rgba(2, 147, 150, 80);
  --brown: #38322d;
  
}

.featureBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--white);
  padding: 3vh 7vw 3vh 2vw;
  margin-bottom: 23vh;
  border-bottom: solid var(--zomp) 2px;
  border-top: solid var(--zomp) 2px;
  height: 30vh;
  width: 100vw;
  overflow: hidden;

  @media screen and (max-width: 780px){
    padding-right: 10vw;
    justify-content: center;
  }

  @media screen and (max-width: 414px) {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
}

.placeHolderBox {
  background-color: var(--white);
  padding: 3vh 7vw 3vh 2vw;
  margin-bottom: 22vh;
  border-bottom: solid var(--zomp) 7px;
  border-top: solid var(--zomp) 7px;
  height: 30vh;
  width: 100vw;
}

.featureList {
  animation: featureFade ease 3s;
  list-style-type: none;  

  @media screen and (max-width: 780px) {
    max-width: 50vw;
  }

  @media screen and (max-width: 414px) {
    max-width: 70vw;
    text-align: center;
    list-style: none;

  }
}

.feature {
  display: flex;
  position: relative;
  color: var(--brown);
  font-family: 'roboto';
  padding-left: 1rem;
  text-indent: 0.4rem;
  
  @media screen and (max-width: 414px) {
    margin:  2em 4em 0 0;
    width: 70vw;
  }
 
}

.feature::before {
  content: '★ ';

  @media screen and (max-width: 414px) {
    margin-left: -4em;
  }
}

.promise {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  z-index: 0;
  font-family: 'Goldman';
  font-size: 2.5em;
  color: var(--brown);
  z-index: 1;
  max-width: 35vw;
  animation: featureFade ease 2s;

  @media screen and (max-width: 780px) {
    max-width: 25vw;
  }

  @media screen and (max-width: 414px) {
    margin: 50px 135px 20px 0;
  }
}

@keyframes featureFade {
  0% {transform: scale(0); opacity: 0}
  100% {transform: scale(1); opacity: 1}
  
}

@keyframes fadeOut {  
  0% {opacity: 0}
  15% {opacity: 1}
  80% {opacity: 1}
  100% {opacity: 0}
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

/*@keyframes slideRight {
  0% {margin-left: 5em; opacity: 1;}
  90% {margin-left: 25em;}
  100% {margin-left: 50em; opacity: 0;}
}*/
