:root {
  --medium-green: rgb(0, 100, 102);
  --medium-green-alpha: rgba(0, 100, 102, 0.85);
  --white: rgb(238, 241, 239);
  --white-alpha: rgba(238, 241, 239, 0.70);
  --dark-green: rgb(2, 60, 61);
  --light-green: rgb(2, 147, 150);
  --brown: 463f3a;
  --menu-speed: 0.75s;
}

* {
  box-sizing: border-box;
}

.headerBox, .headerNonHome {
  height: calc(100px + var(--scroll-y));
  max-height: 100px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: var(--dark-green);
  border-bottom: solid var(--medium-green) 2px;
  padding-top: 15px;
  position: fixed;
  z-index: 2;
  transition: height .3s ease;
  @media screen and (max-width: 414px) {
    height: 50px;
  }
}

.headerNonHome {
  height: 50px;
  padding-top: 0;
  top: 0;
}

.desktopMenu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 50px;
  min-width: 100vw;
  position: relative;
  z-index: 1;
  top: 0;
  left: 0px;
  
  animation: fadeIn ease 7s;


  
}

.hItem {
  margin: 15px;
  color: var(--white);
  text-decoration: none;
  font-family: 'roboto';
  transition: 2s ease;
  cursor: pointer;
  
  @media screen and (max-width: 780px) {
    visibility: hidden;
  }
  
}

.hItem:hover {
  color: var(--light-green);
}



.mobileMenu {
  @media screen and (min-width: 780px) {
    display: none;
  }

  @media screen and (max-width: 780px) {
    border: solid var(--white) 2px;
    display: block;
  }
}

.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.mobileMenu .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 50px;
  height: 50px;
  opacity: 0;

}

.mobileMenu .hamburger {
  animation: fadeIn ease 7s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 50px;
  height: 50px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--dark-green);

  @media screen and (max-width: 780px) {
    border: solid var(--white) 1px;
    border-radius: 2px;
  }
}

.mobileMenu .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.mobileMenu .hamburger > div:before,
.mobileMenu .hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

.mobileMenu .hamburger > div:after {
  top: 10px;
}

.mobileMenu .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

.mobileMenu .toggler:checked + .hamburger > div:before,
.mobileMenu .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

.mobileMenu .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

.mobileMenu .toggler:checked ~ .menu {
  visibility: visible;

}

.mobileMenu .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.mobileMenu .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;

}

.mobileMenu .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobileMenu .menu > div {
  background: var(--medium-green-alpha);
  border: var(--light-green) solid 2px;
  box-shadow: inset black 2px 2px 5px 1px;
  border-radius: 40px;
  width: 75vw;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.mobileMenu .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.mobileMenu .menu > div > div > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: -2em;

}

.mobileMenu .menu > div > div > ul > li {
  list-style: none;
  color: var(--white);
  font-size: 1rem;
  padding: 1rem;
  
}



.mobileMenu .menu > div > div > ul > li > Link {
  color: var(--white);
  
  
}

.link {
  font-family: 'roboto';
  color: var(--white);
  transition: 2s ease;
}

.link:hover {
  color: var(--light-green);
}







@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}
