* {
  box-sizing: border-box;
}

:root {
  --medium-green: rgb(0, 100, 102);
  --medium-green-alpha: rgba(0, 100, 102, 0.85);
  --white: rgb(238, 241, 239);
  --white-alpha: rgba(238, 241, 239, 0.70);
  --dark-green: rgb(2, 60, 61);
  --light-green: rgb(2, 147, 150);
  --light-green-alpha: rgba(2, 147, 150, 80);
  --brown: #38322d;
  
}

.lanhamBox {
  position: relative;
  background-color: black;
  max-width: 100vw;
  
  
  
}

.bigBox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  z-index: 1;
  padding-top: 8em;
  margin-bottom: 6vh;
}

.secondBox {
  z-index: 0;
  /* background-image: url('../../../public/assets/lanhamLineUp-cropped.jpeg'); */
  background: var(--platinum);
  height: 100%;
  max-width: 100vw;
  position: relative;
  padding-top: .2vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 95%;
 
  @media screen and (max-width: 414px) {
    background-size: cover;
  }
  
  transform: translateZ(1px) scale(1.07);
}

.thirdBox {
  z-index: 0;
  background-image: url('https://i.imgur.com/qWroiOk.jpg');
  height: 100%;
  max-width: 100vw;
  position: relative;
  padding-top: 1vh;
  padding-bottom: 40vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 95%;
 

  @media screen and (max-width: 414px) {
    background-size: cover;
  }
  
  transform: translateZ(1px) scale(1.07);
}

.outer {
  overflow: hidden;
}
