:root {
  --MediumGreen: rgb(0, 100, 102);
  --DarkGreen: rgb(2, 60, 61);
  --LightGreen: rgb(2, 147, 150);
  --medium-green: rgb(0, 100, 102);
  --medium-green-alpha: rgba(0, 100, 102, 0.85);
  --white: rgb(238, 241, 239);
  --white-alpha: rgba(238, 241, 239, 0.70);
  --dark-green: rgb(2, 60, 61);
  --light-green: rgb(2, 147, 150);
}

.listBox {
  padding-bottom: 20px;
}

.listItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  background-color: var(--LightGreen);
  box-shadow: var(--DarkGreen) 3px 3px;
  border: var(--DarkGreen) solid 2px;
  border-radius: 5px;
  list-style: none;
  margin: 20px;

  .announcementTitle {
    font-size: 1.25em;
    margin-top: 15px;
  }

  button {
    width: 75px;
    margin-bottom: 10px;
    box-shadow: var(--DarkGreen) 3px 3px;
    border: var(--DarkGreen) solid 2px;
    border-radius: 4px;
    background-color: lightgray;
    cursor: pointer;
  }
}

.createBox {
  background-color: var(--MediumGreen);
  background-size: cover;
  padding: 20px;
  padding-top: 10vh;

  h2 {
    font-family: 'Goldman', cursive;
    color: var(--white);
    text-shadow: var(--dark-green) 3px 3px;
    margin-bottom: 10px;
  }

}

.createForm {
    display: flex;
    flex-direction: row;
   
    

    .formButton {
      margin: 10px 0 10px 20px;
      box-shadow: var(--DarkGreen)  3px 3px;
      background-color: lightgray;
      border: var(--DarkGreen) solid 2px;
      border-radius: 4px;
      height: 25px;
      cursor: pointer;
    }

    .formText {
      margin: 10px 0 10px 5px;
      box-shadow: var(--DarkGreen)  3px 3px;
      background-color: lightgray;
      border: var(--DarkGreen)  solid 2px;
      border-radius: 4px;
      height: 50px;
    }
    
    .formEl {
      margin: 10px 0 10px 5px;
      box-shadow: var(--DarkGreen)  3px 3px;
      background-color: lightgray;
      border: var(--DarkGreen)  solid 2px;
      border-radius: 4px;
      height: 25px;
    }
    
    .formLabel {
      margin-left: 20px;
      font-family: 'roboto';
    }

}

.buttonBox {
  margin-left: 33px;

  .formButton {
      
  margin: 10px 0 10px 20px;
  box-shadow: var(--DarkGreen)  3px 3px;
  background-color: lightgray;
  border: var(--DarkGreen)  solid 2px;
  border-radius: 4px;
  height: 25px;
  cursor: pointer;
}
}



.adminBox {
  background-color: var(--MediumGreen);
  background-size: cover;
  min-height: 100vh;
  position: relative;
  

  .adminHeader {
    display: flex;
    justify-content: flex-end;
    padding-right: 2em;
    position: fixed;
    background-color: inherit;
    width: 100vw;
    border-bottom: solid var(--white) 2px;
    z-index: 1;
  }

  button {
    width: 100px;
    margin: 15px;
    box-shadow: var(--DarkGreen)  3px 3px;
    border: var(--DarkGreen)  solid 2px;
    background-color: lightgray;
    border-radius: 4px;
    cursor: pointer;
  }
}

.updateBox {
  display: flex;
  flex-direction: column;
  background-color: var(--MediumGreen); 
  height: 100%;
  min-height: 100vh;
  background-size: cover;


  .updateHeadline {
    margin: 10px 20px 20px 20px;
    font-family: 'Goldman';
  }

  .updateCategory {
    margin-left: 10px;
    font-family: 'Goldman';
    color:  var(--DarkGreen);
  }

  .updateForm {
    display: flex;
    flex-direction: column;
    width: 30vw;

  }

  .formLabel {
    margin-left: 20px;
  }

  .formEl {
    margin: 10px 0 10px 20px;
    box-shadow: var(--DarkGreen) 3px 3px;
    background-color: lightgray;
    border: var(--DarkGreen)  solid 2px;
    border-radius: 4px;
  }

  button {
    width: 75px;
    box-shadow: var(--DarkGreen)  3px 3px;
    border: var(--DarkGreen)  solid 2px;
    border-radius: 4px;
    cursor: pointer;
  }

}

.imageBox {

  ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  }

  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background:  var(--light-green);
    box-shadow: var(--DarkGreen) 3px 3px;
    border: var(--DarkGreen) solid 2px;
    border-radius: 5px;
    list-style: none;
    max-width: 20vw;
    margin: 20px;
  }

  img {
    max-width: 12em;
    max-height: 12em;
  }

  h1 {
    max-width: 20vw;
    font-family: 'roboto';
    color: var(--white);
    font-size: 1.5em;
    margin: 1em 0 1em 0;
  }

  h3, h4 {
    margin: 1em 0 1em 0;
    text-align: center;
  }

  nav {
    margin: 0 0 0 -1em;
  }

}

.createImageBox {
  
  form {
  display: flex;
  margin-left: 20px;
  }

  label {
    margin-left: 20px;
      font-family: 'roboto';
  }

  input, select {
    margin: 10px 0 10px 5px;
    box-shadow: var(--DarkGreen)  3px 3px;
    background-color: lightgray;
    border: var(--DarkGreen)  solid 2px;
    border-radius: 4px;
    height: 25px;
  }

  button {
    margin: 10px 0 10px 20px;
    box-shadow: var(--DarkGreen)  3px 3px;
    background-color: lightgray;
    border: var(--DarkGreen) solid 2px;
    border-radius: 4px;
    height: 25px;
    cursor: pointer;
  }

  h2 {
    margin: 10px 20px 20px 20px;
    font-family: 'Goldman';
    color: var(--white);
    text-shadow: var(--dark-green) 3px 3px;
    margin-bottom: 10px;
  }
}
