* {
  box-sizing: border-box;
}

:root {
  --medium-green: rgb(0, 100, 102);
  --medium-green-alpha: rgba(0, 100, 102, 0.85);
  --white: rgb(238, 241, 239);
  --white-alpha: rgba(238, 241, 239, 0.70);
  --dark-green: rgb(2, 60, 61);
  --light-green: rgb(2, 147, 150);
  --light-green-alpha: rgba(2, 147, 150, 80);
  --brown: #38322d;
  --menu-speed: 0.75s;
}

.formLabelamphead {
  position: relative;
  font-size: larger;
  cursor: pointer;
  font-family: 'roboto';
  color: var(--dark-green);
  animation: colorFade  ease infinite 4s;
}

.formLabellanham {
  font-family: 'roboto';
  color: var(--white);
  cursor: pointer;
  transition: 2s ease;
  margin: 0 0 0 0;
}

.formLabellanham:hover {
  color: var(--light-green);
}

.popUp {
  position: relative;
  z-index: 2;
  

}

.popUp .toggle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 50px;
  height: 50px;
  opacity: 0;
  cursor: pointer;
}

.popUp .contain {
  animation: fadeIn ease 7s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 50px;
  height: 50px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

}

.popUp .toggle:checked ~ .form {
  visibility: visible;

}

.popUp .toggle:checked ~ .form > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.popUp .toggle:checked ~ .form > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;

}

.popUp .form {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popUp .form > div {
  background: var(--medium-green-alpha);
  border: solid var(--light-green) 2px;
  border-radius: 20px;
  box-shadow: inset black 2px 2px 5px 1px;
  width: 50vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}


@keyframes colorFade {
  0% {color: var(--light-green)}
  50% {color: var(--dark-green)}
  100% {color: var(--light-green)}
}
