* {
  box-sizing: border-box;
}

:root {
  --medium-green: rgb(0, 100, 102);
  --medium-green-alpha: rgba(0, 100, 102, 0.85);
  --white: rgb(238, 241, 239);
  --white-alpha: rgba(238, 241, 239, 0.70);
  --dark-green: rgb(2, 60, 61);
  --light-green: rgb(2, 147, 150);
  --brown: #38322d;
}

.galleryBoxamphead {
  background: var(--medium-green);
}

.galleryBoxlanham {
  background: var(--brown);
}

.galleryBoxboth {
  background: var(--dark-green);
}

.galleryBoxamphead, .galleryBoxlanham, .galleryBoxboth {
  position: relative;
  

  div {
    display: flex;
    align-items: center;
    height: 7vh;
    background: inherit;
    border-bottom: solid var(--white) 2px;
    width: 100vw;
    position: fixed;
    z-index: 1;

    .link {
    text-decoration: none;
    font-family: 'roboto';
    color: var(--white);
    margin-left: 2em;
    }
  }
  
  ul {
    padding-top: 4em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none;
    z-index: 0;

    
    li {
     
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin: 2vh 2vw 2vh 2vw;
     z-index: 0;

     animation: grow .75s;
   }
  }

  ul > li > h3 {
    text-align: center;
    font-family: 'roboto';
    color: var(--white);
    margin-top: 1em;
  }


  .galleryImage {
    max-width: 35vw;
    max-height: 40vh;
    border: solid var(--white) 2px;
    border-radius: 5px;
    box-shadow: black 3px 3px 4px 5px;
  }
}

.lanham, .amphead, .both {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    position: relative;
    justify-content: center;
    display: inherit;
    background-color: var(--white-alpha);
    border: solid var(--white) 2px;
    border-radius: 10px;
    box-shadow: inset var(--brown) 2px 2px 4px 4px;
    max-height: 90vh;
    max-width: 90vw;
    padding: 4em;
    animation: grow ease .5s;
    

    .X {
      font-family: 'roboto';
      text-decoration: none;
      color: var(--brown);
      font-size: 1.5em;
      position: absolute;
      left: 1em;
      top: 1em;
      cursor: pointer;
    }

    img {
      position: relative;
      border: inherit;
      box-shadow: var(--brown) 2px 2px 4px 4px;
      border-radius: 10px;
      max-height: 80vh;
      max-width: 80vw;
      
    }
  }

}

.lanham, .loadinglanham {
  background: var(--brown);
  height: 100vh;
  width: 100vw;
}

.amphead, .loadingamphead {
  background: var(--medium-green);
  height: 100vh;
  width: 100vw;
}

.both, .loadingboth {
  background: var(--dark-green);
  height: 100vh;
  width: 100vw;
}

.loadingamphead, .loadinglanham, .loadingboth {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25vh;

  h1 {
    font-family: 'Goldman';
    color: var(--white);
  }
}


@keyframes grow {
  from {transform: scale(0);}
  to {transform: scale(1);}
}
