:root {
  --MediumGreen: rgb(0, 100, 102);
  --DarkGreen: rgb(2, 60, 61);
  --LightGreen: rgb(2, 147, 150);
}

.bigBox {
  background-color: var(--LightGreen);
  height: 100vh;
  padding: 200px;
}

.headline {
  font-family: 'Goldman', cursive;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: var(--MediumGreen);
  max-width: 350px;
  padding: 20px;
  box-shadow: var(--DarkGreen) 3px 3px;
  border: var(--DarkGreen) solid 2px;
  border-radius: 4px;
}

.formEl {
  max-width: 200px;
  margin: 10px;
  box-shadow: var(--DarkGreen) 3px 3px;
  border: var(--DarkGreen) solid 2px;
  border-radius: 4px;
}

.button {
  max-width: 100px;
  margin: 10px;
  box-shadow: var(--DarkGreen) 3px 3px;
  border: var(--DarkGreen) solid 2px;
  border-radius: 4px;
}
